#Don't push Website and old_versions

old_versions/
pyfdap_v1.0/
pyfdap_v1.1/
Website/
Website_backup/
Requests/
executables/

#Don't push backup and TestDataset
pyfdap/TestDataset/
pyfdap/backup/
pyfdap/scripts/

#Don't push compiled python modules
*.pyc

#Dont push build/dist
dist/
build/
pyfdap/build/
pyfdap/dist/
pyfdap/logo/

#Don't push html version of Doc
Doc/html*

#Dont push egg
*.egg-info

#Dont push shell scripts
*.sh

#Don't push pickle file
*.pk

#Don't push change_log
change_log

